In [1]:
import os
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import tqdm as tqdm

In [2]:
tempFile = pd.read_csv("./Data/ml-latest/movies.csv")
tempFile.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("./Data/ml-latest/ratings.csv")
comb = pd.read_csv("combined.csv")
print(comb.head())

   Unnamed: 0  movieId                               title  \
0           0        1                    Toy Story (1995)
1           1        2                      Jumanji (1995)
2           2        3             Grumpier Old Men (1995)
3           3        4            Waiting to Exhale (1995)
4           4        5  Father of the Bride Part II (1995)

                                         genre  0.5  1.0  1.5   2.0   2.5  \
0  Adventure|Animation|Children|Comedy|Fantasy  478  840  468  2160  1665
1                   Adventure|Children|Fantasy  276  813  542  2551  1902
2                               Comedy|Romance  174  777  237  1677   629
3                         Comedy|Drama|Romance   48  352   31   497    77
4                                       Comedy  248  802  282  1737   681

     3.0   3.5    4.0   4.5    5.0
0  11872  6095  22710  5684  16497
1   8711  3116   6303   790   2139
2   6227   774   3440   159   1491
3   1136    68    557    12    211
4   6655   761   2989   174   1145

In [31]:
filmTitle = tempFile['title'].str.extract('(.*)\((.*)\).*', expand=True)

filmTitle.columns = ['title', 'year']
ids = []
for i in range(len(filmTitle)):
    if filmTitle['year'][i] == '2014':
        movieid = tempFile['movieId'][i]
        ids.append(movieid)

In [32]:
finalIds = []
for row in comb.itertuples():
    totalRatings = sum(row[5:])
    if row.movieId in ids and totalRatings > 100:
        finalIds.append(row.movieId)

In [33]:
print(len(finalIds))

248

In [34]:
# get the ratings of the movies in the ids list
newRatings = ratings[ratings['movieId'].isin(finalIds)]

In [35]:
print(len(newRatings))

332635

In [36]:
print(newRatings.head())
# store newRatings in a csv file
newRatings.to_csv("./Data/year/2014.csv", index=False)

      userId  movieId  rating   timestamp
1269      14   108932     4.0  1442171420
1271      14   109374     4.0  1444014724
1272      14   109487     5.0  1442169518
1273      14   112175     3.5  1442171386
1274      14   112552     4.5  1442169439