In [3]:
# import libraries for ml and data visualization and making beautiful graphs
import pandas as pd
import numpy as np
import community
from tqdm import tqdm
import json
import matplotlib.pyplot as plt

In [2]:
ratings = pd.read_csv('combined.csv')
ratings.head()

,Unnamed: 0,movieId,title,genre,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,478,840,468,2160,1665,11872,6095,22710,5684,16497
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,276,813,542,2551,1902,8711,3116,6303,790,2139
2,2,3,Grumpier Old Men (1995),Comedy|Romance,174,777,237,1677,629,6227,774,3440,159,1491
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,48,352,31,497,77,1136,68,557,12,211
4,4,5,Father of the Bride Part II (1995),Comedy,248,802,282,1737,681,6655,761,2989,174,1145

In [3]:
rt = ratings.iloc[:, 4:].to_numpy(float)

print(rt.shape)
# to_remove = np.where(np.sum(rt, axis=1) < 1000)
# rt = np.delete(rt, to_remove, axis=0)

rt_copy = rt.copy()
print(rt.shape)
for i in range(10):
    rt_copy[:, i] *= 0.5*(i+1)

(58098, 10)
(58098, 10)

In [4]:
mean = np.sum(rt_copy, axis=1)/np.sum(rt, axis=1)
mean

/tmp/ipykernel_674929/2091602122.py:1: RuntimeWarning: invalid value encountered in true_divide
  mean = np.sum(rt_copy, axis=1)/np.sum(rt, axis=1)

array([3.88664943, 3.24658291, 3.17398139, ..., 2.        , 2.        ,
       3.25      ])

In [5]:
var = np.array([0]*len(rt), dtype=float)
for i in range(10):
    var += rt[:,i]*((i+1)*0.5 - mean)**2


var = var/np.sum(rt, axis=1)
var

array([0.86405214, 0.92061012, 1.02961177, ..., 0.        , 0.        ,
       0.5625    ])

In [ ]:
sorted_var_idx = np.argsort(var)[::-1]
dict = {}

newCsv = pd.DataFrame(columns=['movieId', 'variance'])

for title, r, vid in zip(ratings.movieId.to_numpy()[sorted_var_idx], ratings.iloc[:, 4:].to_numpy()[sorted_var_idx], sorted_var_idx):
    # store the movie id and corresponding variance in a csv file
    if (np.sum(r) > 100):
        # print(title, "     ", var[vid])
        # print(r)  
        newCsv = newCsv.append({'movieId': str(title), 'variance': var[vid]}, ignore_index=True)

In [ ]:
# store the movie id and corresponding variance in a csv file

newCsv.to_csv('variance.csv', index=False)

In [ ]:
print(ratings.iloc[:, 4:].to_numpy()[np.argsort(var)])

In [ ]:
print(var)